
  * {
    box-sizing: border-box;
  }
  .post .title span{
    color:#080708
  }
body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: san-serif;
  color: #080708;
  line-height: 1.5;
  font-size: 24px;
}
h1,
h2,
h3{
  font-weight: 500;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
.no-button:hover {
  color: #0b0e0c;
  text-decoration: underline;
}

.link-color{
  color: var(--tertiary);
  padding: 10px;
  margin-left: -10px;
}
.new-post-form{
  color: var(--tertiary);
  padding: 10px;
  margin-left: -10px;
}
